<section id="product">
    <div class="container g-0">
        <h2 class="fw-bold mb-4 text-capitalize">
            <%= product.name %>
        </h2>
        <hr>
        <div class="row row-cols-3 pe-4 ps-2">
            <div class="col">
                <div class="image product-image" style="background-image: url('/images/uploads/<%= product.image %>');">
                </div>
            </div>
            <div class="col about-product">
                <div class="description">
                    <h5 class="fw-bold text-capitalize">description</h5>
                    <br>
                    <p class="fs-6 text-capitalize">
                        <%= product.description %>
                    </p>
                </div>
                <br>
                <div class="specifications">
                    <div class="d-flex model">
                        <p class="me-1 text-uppercase">model:</p>
                        <p class="fw-bold text-capitalize">
                            <%= product.model %>
                        </p>
                    </div>
                    <div class="d-flex dimensions">
                        <p class="me-1 text-uppercase">dimensions:</p>
                        <p class="fw-bold">
                            <%= product.dimensions %>
                        </p>
                    </div>
                    <div class="d-flex color">
                        <p class="me-1 text-uppercase">color:</p>
                        <p class="text-capitalize fw-bold">
                            <%= product.color %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col edit-product">
                <div class="d-flex fs-3 mb-4">
                    <p class="fw-bold">Price:</p>
                    <span class="ms-2 fw-bold text-primary">
                        <%= product.price %>$
                    </span>
                </div>
                <% if(product.quantity> 0) { %>
                    <p class="text-success text-capitalize fs-5 fw-bold">available </p>
                    <% } else { %>
                        <p class="text-danger text-capitalize fs-5 fw-bold">out of stock </p>
                        <% } %>
                            <div class="d-grid gap-2">
                                <!-- Button trigger modal -->
                                <button class="btn btn-secondary text-capitalize mt-4" type="submit"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">edit</button>
                                <form action="/product/<%= product._id %>/delete" method="post" id="productForm">
                                    <button class="btn btn-secondary text-capitalize mt-1 width-100"
                                        type="submit">delete</button>
                                </form>
                            </div>
            </div>
        </div>
    </div>
    <!-- Edit Product Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-capitalize fw-bold" id="exampleModalLabel">edit product
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" id="productForm" enctype='multipart/form-data'>
                        <label for="productNameInput" class="form-label text-capitalize mb-1 fw-bold">product
                            name</label>
                        <input required type="text" class="form-control text-capitalize" id="productNameInput"
                            aria-label="name" name="name" value="<%= product.name %>">
                        <label for="productModelInput" class="form-label text-capitalize mb-1 fw-bold">model</label>
                        <input required type="text" class="form-control text-capitalize" id="productModelInput"
                            aria-label="model" name="model" value="<%= product.model %>">
                        <label for="quantityInput" class="form-label text-capitalize mb-1 fw-bold">quantity</label>
                        <input required type="number" class="form-control text-capitalize" id="quantityInput"
                            aria-label="quantity" name="quantity" value="<%= product.quantity %>">
                        <label for="priceInput" class="form-label text-capitalize mb-1 fw-bold">price</label>
                        <input required type="number" class="form-control text-capitalize" id="priceInput"
                            aria-label="price" name="price" value="<%= product.price %>">
                        <label for="specificationsInput"
                            class="form-label text-capitalize mb-1 fw-bold">specifications</label>
                        <input required type="text" class="form-control text-capitalize" id="specificationsInput"
                            aria-label="specifications" name="specifications" value="<%= product.specifications %>">
                        <label for="dimensionsInput" class="form-label text-capitalize mb-1 fw-bold">dimensions</label>
                        <input required type="text" class="form-control text-capitalize" id="dimensionsInput"
                            aria-label="dimensions" name="dimensions" value="<%= product.dimensions %>">
                        <label for="colorInput" class="form-label text-capitalize mb-1 fw-bold">color</label>
                        <input required type="text" class="form-control text-capitalize" id="colorInput"
                            aria-label="color" name="color" value="<%= product.color %>">
                        <label for="descriptionInput"
                            class="form-label text-capitalize mb-1 fw-bold">description</label>
                        <textarea required class="form-control" id="descriptionInput"
                            name="description"><%= product.description %></textarea>
                        <label for="imageInput" class="form-label text-capitalize mb-1 fw-bold">image</label>
                        <input type="file" class="form-control text-capitalize" id="imageInput" aria-label="image"
                            name="image">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-capitalize"
                                data-bs-dismiss="modal">close</button>
                            <button type="submit" class="btn btn-primary text-capitalize">save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>